* {
  margin:  0;
}
.app{
  background-color: #fafafa;
}
.app-posts{
  padding: 20px;
  display: flex;
  /* justify-content: center; */
}
.app-postsRight{
  margin-left: 20px;
}
.app-header {
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 0.5px solid lightgray;
  background-color: white;
  padding: 20px;
  object-fit: contain;
  display: flex;
  justify-content: space-around;
}
.app-headerImage{
  object-fit: contain;
  margin-right: 75em;
}
.app-signup{
  display: flex;
  flex-direction: column;
  /* text-align: center; */
}